* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #222;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
}

#productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.producto {

  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  padding: 14px;
  text-align: center;
  border-radius: 12px;
  background: #fefeff;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.producto:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}


.producto img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  transition: transform 0.25s ease;
}

.producto:hover img {
  transform: scale(1.05);
}

.btn-detalle {
  margin-top: auto;
  padding: 7px 14px;
  border: none;
  border-radius: 8px;
  background: #111827;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease, transform 0.2s ease;
}

.btn-detalle:hover {
  background: #1f2937;
  transform: scale(1.05);
}

.titulo {
  font-size: 16px;
  margin: 8px 0;
  line-height: 1.3;
  height: 2.6em; /* 2 líneas */
  overflow: hidden;
}

.categoria {
  font-size: 13px;
  color: #666;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.precio {
  font-weight: bold;
  margin: 6px 0;
}


/* Fondo oscuro */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Oculto */
.oculto {
  display: none;
}

/* Caja del modal */
.modalContenido {
  background: #fff;
  width: 90%;
  max-width: 500px;
  max-height: 85vh;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  overflow-y: auto;
  animation: aparecer 0.3s ease;
}

/* Animación sutil */
@keyframes aparecer {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Botón cerrar */
.cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  z-index: 10;
}

.cerrar:hover {
  color: red;
}

/* Imagen controlada */
#modalImagen {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  display: block;
  margin: 0 auto 15px;
}

/* Texto */
#modalTitulo {
  margin-bottom: 10px;
}

#modalPrecio,
#modalCategoria {
  font-weight: bold;
  margin-top: 5px;
}